<!-- File: Views/Account/Details.cshtml -->
@model ApplicationUser

<h2>Account Details</h2>

<div>
    <h4>Account Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
