<form asp-action="Index">
    <label>FullName:</label>
    <input type="text" name="fName" placeholder="Enter full name"/>
    <input type="email" name="ABC" placeholder="Enter Email" />
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.xcv</h1>
