@model NetMVC.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<div class="w3-row">
    <b>Person/</b>Edit
</div>
<hr />
<div class="max-width-40 ud-center">
    <div class="w3-container w3-blue w3-round">
        <h2 class="w3-center">Edit person</h2>
    </div>
    <form asp-action="Edit" class="w3-container w3-card-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PersonID" />
        <div class="w3-row w3-margin-top">
            <div class="w3-col l8">
                <label asp-for="FullName" class="control-label"></label>:
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="w3-col l3 w3-right">
                <label asp-for="Age" class="control-label"></label>:
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-row w3-margin-top">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <hr>
        <div class="w3-row w3-margin-top w3-margin-bottom">
            <a asp-action="Index" class="w3-btn w3-green w3-round">Quay lại</a>
            <input type="submit" value="Save" class="w3-btn w3-blue w3-round w3-right" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
