@model NetMVC.Models.Student

@{
    ViewData["Title"] = "Create";
}

<div class="w3-row">
    <b>student/create</b>
    <a class="w3-btn w3-round w3-border w3-border-blue w3-right" asp-action="Index">Quay lại</a>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>Create new Student</h2>
    </div>
    <form asp-action="Create" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <div class="w3-col l3">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="w3-col l8 w3-right">
                <label asp-for="FacultyID" class="control-label"></label>
                <select asp-for="FacultyID" class ="w3-input w3-border w3-border-blue w3-round w3-white" asp-items="ViewBag.FacultyID"></select>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l3">
                <label asp-for="PersonID" class="control-label"></label>
                <input asp-for="PersonID" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="PersonID" class="text-danger"></span>
            </div>
            <div class="w3-col l8 w3-right">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="w3-col l8 w3-right">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="w3-input w3-border w3-border-blue w3-round" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        
        
        <div class="w3-margin-top">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
