<form asp-action="Index">
    <input type="text" name="StudentID" placeholder="Enter ID"/>
    <input type="text" name="FullName" placeholder="Enter Full name"/>
    <input type="submit" value="Send data"/>
</form>
<h1>@ViewBag.thongBao</h1>